parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        - var/
        - vendor/
        - node_modules/
        - public/
        - translations/
    parallel:
        maximumNumberOfProcesses: 4
