{% if status == 'wait' %}
    <span class="badge bg-secondary">Wait</span>
{% elseif status == 'active' %}
    <span class="badge bg-primary">Active</span>
{% elseif status == 'blocked' %}
    <span class="badge bg-danger">Block</span>
{% endif %}
